.container
  .row
    .col-sm-6.col-sm-offset-3
      .well.text-center
        p.lead !{$this->Html->image(Configure::read('service.logo'))}
        p.lead
          | ただいまメンテナンス中です。
          br
          | #{Configure::read('maintenance')}に終了予定です。
