- $this->set('title_for_layout', 'プライバシーポリシー');

.section-content.section.section-bg
  .container
    .page-header
      h2 プライバシーポリシー
    .panel
      .panel-body.panel-body-bg
        p #{Configure::read('service.companyName')}（以下「当社」といいます。）では、ウェブサービスの企画・開発・運営しています。
        p ここに記載するプライバシーポリシーは、お客様が安心して当社サービスをご利用いただけるよう定めるものです。

        h3 個人情報の定義
        p 「個人情報」とは、当社が保有する氏名、生年月日、住所、電話番号、メールアドレス、ニックネーム、職業、役職など、特定の個人を識別することのできるものを言います。また、複数の情報と組み合わせることにより個人を識別できるものも含みます。

        h3 個人情報の収集、利用、提供に関する原則
        p
          | 当社は個人情報をお客様から収集する場合、事前に明確に告知した目的のために収集します。
          br
          | 当社は個人情報を、事前に明確に告知した目的の範囲内でのみ利用、提供します。

        h3 個人情報利用の目的
        p 当社が提供するサービスを通じて取得した個人情報は、次の目的のために利用いたします。
        ul
          li 当社サービスの利用時における個人認証、各サービスの画面における氏名等の表示のため
          li 各サービス上でのユーザ同士のコミュニケーションを促進するため
          li メンテナンス、重要なお知らせ等のご案内のため
          li 有料サービスをご利用のお客様への料金請求のため
          li サービスにおけるキャンペーン、企画、アンケートの実施およびプレゼント等の発送のため
          li 当社サービスの改善や新サービスの開発へ役立てるため
          li 個人を特定できない範囲において統計データを作成するため
          li 当社ならびに当社提携先の商品・サービスのためのマーケティング活動のため
          li お客様からのお問い合わせへの対応のため
          li その他、各サービスの提供にあたり利用目的を公表の上、同意をいただいた内容のため

        h3 個人情報利用の制限
        p 当社では、あらかじめ本人の同意を得ず、利用目的の範囲外で個人情報を取り扱うことはありません。ただし、次の場合はこの限りではありません。

        h3 法令に基づく場合
        ul
        li 人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき。
        li 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき。
        li 国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。

        h3 情報の収集について
        p 当社では、サービスの提供に当たり、主に以下のようなお客様に関する情報を取得します。
        ul
          li Facebook等のSNS上で運営しているサービスを通じて得られる個人情報
          li サービスの利用に関して取得される情報
          li サービスへのアクセス時に機械的に取得される情報
          li お客様に関する情報の削除のご請求につきましては、保有データの性質上、削除対応できないことがあります。この場合、保有データの利用停止をすることで対応いたします。

        h3 Cookie（クッキー）の利用
        p
          | 当社が提供するサービスでは、お客様により便利にお使いいただけるようCookie（クッキー）を使用することがあります。
          br
          | Cookieを使用するかどうかはお客様が利用されているブラウザの設定で変更可能ですが、使用を禁止した場合サービスを正常にご利用できなくなる可能性があります。

        h3 プライバシーポリシーの改訂について
        p 当社は、プライバシーポリシーの一部またはすべてを改訂することがあります。重要な変更がある場合にはサイト上でお知らせいたします。

