.container
  .row
    .col-sm-6.col-sm-offset-3
      .well.text-center
        p.lead !{$this->Html->image(Configure::read('service.logo'))}
        p.lead
          | 本キャンペーンは
          br
          | 現在開催されておりません。
