:php
  | echo $this->Html->btn(
  |   'トップへ戻る',
  |   $this->Soraps->isPreview() ? '#' : [
  |     'action' => 'top',
  |     'accountName' => $currentAccount['Account']['account_name'],
  |     'id' => $campaign['Campaign']['id'],
  |   ],
  |   ['type' => 'default', 'size' => 'lg']
  | );

