:php
  | $this->Form->inputDefaults([
  |   'div' => false,
  |   'class' => 'form-control',
  |   'label' => false,
  |   'wrapInput' => false,
  |   'before' => '<td>',
  |   'after' => '</td>',
  | ]);
  | $objectGiftClass = 'object-gift';
  | if(!empty($this->request->data['Gift'][$i]['delete_flg'])) {
  |   $objectGiftClass .= ' hide';
  | }
tr(class="#{$objectGiftClass}")
  :php
    | echo $this->Form->input('Gift.' . $i . '.name', [
    |   'type' => 'text',
    |   'before' => $this->Form->isFieldError('Gift.' . $i . '.name')
    |     ? '<td class="has-error error">'
    |     : '<td>',
    | ]);
    | echo $this->Form->input('Gift.' . $i . '.win_count', [
    |   'type' => 'text',
    |   'class' => 'form-control input-small',
    |   'before' => ($this->Form->isFieldError('Gift.' . $i . '.win_count')
    |     ? '<td class="has-error error">'
    |     : '<td>') . '<div class="form-inline">',
    |   'after' => '</div></td>',
    |   'beforeInput' => '<span class="control-label">' . (array_key_exists($i, $campaign['Gift'])
    |     ? $campaign['Gift'][$i]['entry_count']
    |     : 0) . ' /&nbsp;</span>',
    | ]);
    | echo $this->Form->input('Gift.' . $i . '.win_probability', [
    |   'type' => 'text',
    |   'class' => 'form-control input-mini',
    |   'helpInline' => '％',
    |   'before' => $this->Form->isFieldError('Gift.' . $i . '.win_probability')
    |     ? '<td class="has-error error">'
    |     : '<td>',
    | ]);
    | echo $this->Form->input('Gift.' . $i . '.win_daily', [
    |   'type' => 'text',
    |   'before' => $this->Form->isFieldError('Gift.' . $i . '.win_daily')
    |     ? '<td class="has-error error">'
    |     : '<td>',
    | ]);
    | echo $this->Form->input('Gift.' . $i . '.image', [
    |   'type' => 'image',
    |   'label' => false,
    |   'before' => $this->Form->isFieldError('Gift.' . $i . '.image')
    |     ? '<td class="has-error error">'
    |     : '<td>',
    | ]);
  td
    :php
      | if(!empty($this->request->data['Gift'][$i]['id'])) {
      |   echo $this->Form->hidden('Gift.' . $i . '.id');
      | }
      | echo $this->Form->input(
      |   'Gift.' . $i . '.delete_flg',
      |   [
      |     'type' => 'hidden',
      |     'class' => 'object-gift-delete-flg',
      |   ]
      | );
      | echo $this->Html->btn(
      |   '',
      |   '#',
      |   ['type' => 'danger', 'icon' => 'minus'],
      |   [
      |     'data-toggle' => 'remove-object',
      |     'data-target' => 'gift',
      |     'data-parent' => 'form'
      |   ]
      | );


